.header-left{
    display:flex;
    justify-self:flex-end;
    position:absolute;
    background-color:#f598b4;
    font-size:0.8rem;
    color: #240224;
    padding-right: 0.5rem;
    margin:1rem;
    border-radius:0.8rem;
    box-shadow: 0 0 10px #fd0a54, 0 0 20px #fd0a54, 0 0 10px #f1326b;
  
}

.background-circle-cart{
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:2rem;
    width:2rem;
    height:2rem;
    text-align: center;
    background-color:#240224;
    font-size:1.3rem;
    color:#fff;
    margin:0.5rem;
    font-family: 'Spicy Rice';
}
.header-left-cart{
    display:flex;
    align-self:center;
    padding:0.3rem;
    font-size:1.4rem;

}

.header-left:hover {
    box-shadow: 0 0 10px #fd0a54, 0 0 20px #fd0a54, 0 0 40px #f1326b inset;
}