.login-form-container {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.login-form {
    display:flex;
    flex-direction:column;
}
.login-form-container>h2 {
    color:  #ffffff;
    font-size:2rem;
}
.login-form > input {
    border:2px solid #ffffff;

    width: fit-content;
    background-color: transparent;
    font-size:1.5rem;
    font-family: 'Spicy Rice';
   color: #ffffff;
}
.login-form > select {
    border:2px solid transparent;
    color: #4f364a ;
    width: fit-content;
    background-color: transparent;
    font-size:1.5rem;
    font-family: 'Spicy Rice';
   color:  #ffffff;

}
.login-form > label {

   
    width: fit-content;
    background-color: transparent;
    font-size:1rem;
    font-family: 'Spicy Rice';
   color:  #ffffff;

   margin-bottom:1rem;
   margin-top:1rem;
}
.login-btn {
    all:unset;
        font-size:1.2rem;
        width:6rem;
        margin-top:0.7rem;
        margin-bottom:0.7rem;
        color: #F5F5DC;
        border-radius:1.2rem;
       border:1px solid #6C00FF;
       text-align:center;
       background: rgb(238,174,202);
       background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
       box-shadow: 0 0 10px rgba(238,174,202,1), 0 0 40px rgba(148,187,233,1) , 0 0 80px rgba(148,187,233,1) ;
       align-self:flex-end;
}
.login-btn:hover {
    cursor:pointer;
    background: #5DA480;
}
.usermessage {
    color:  #ffffff;
}