.magic-add-to-cart {
    all:unset;
    color: #240224;
    background-color: #fd0a54;
    border:1.5px solid transparent;
    border-radius:0.4rem;
    font-size:1.3rem;
    width: 6rem;
    justify-self:center;
    margin:0.8rem;
    text-align:center;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    box-shadow: 0 0 10px rgba(238,174,202,1), 0 0 40px rgba(148,187,233,1) , 0 0 80px rgba(148,187,233,1) ;
}
.magic-add-to-cart:hover {
    cursor:pointer;
    background:#ffffff;
  
    color:#240224;
}
.magic-item-form {
    font-size:1rem;
    
    
}